footer.bottom {
  align-items: center;
  justify-content: center;
  color: gray;
}
footer.bottom a {
  align-items: center;
  justify-content: center;
  color: gray;
}
footer.container p {
  padding: 9px 0;
  margin: 0;
  font-size: 14px;
}
footer a {
  color: #2C2E3F;
  text-decoration: none;
}
footer a:hover {
  color: #2C2E3F;
  text-decoration: underline;
}

.contfooter {
  background-color: white;
}

.footercontent {
  background-color: #F0E2D0;

}
.up {
  background-color: #F0E2D0;
  /* background-color:#FE7865; */
}


.footerinfo h4{
  padding-left: 1rem;
  border-left: 1px solid #2c2e3f83;
  padding-bottom: 20px;
}

.footerinfo{
  padding: 40px 0;
  opacity: 80%;
}


.funicons{
  font-family: 'Noto Emoji', sans-serif;
  color: black!important;
  opacity: 100%;
  

  }

.logo-ol{
width: 100px;
  filter: grayscale(100%);
  opacity: 0.5;



}