.contbox {
    padding: 100px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contbox .contcont {
    padding: 40px 0;
  width: 100%;
  border: 1px solid #eaf0fc;
  /* border: 1px dashed #141945; */
  box-shadow: 1px 3px 10px rgb(173 181 189 / 40%);   /* display: flex;
  flex-direction: row
  ; */
}

.ha a {
    display: flex;
    align-items: center;
  
  padding: 10px;
  color:gray;
  height: 100%;
  background-image: url("/public//images/map1.jpg");
  background-size: 130%;
  padding: 20px;

}
.img-fluid{
    opacity: 0;
}
.hi {
  padding: 10px;
}

.btn {
  background-color: #eca949 !important;
  border: 1px solid #eca949 !important;
  color: white !important;
  border-radius: 0!important;
  width: 100%;
}
.btn:hover {
  background-color: transparent !important;
  color: #2C2E3F !important;
  border: 1px solid #2C2E3F !important;
}
.btn:active {
    background-color: transparent !important;
    color: #eca949 !important;
    border: 1px solid #eca949 !important;
}

.form-control {
  background-color: #fcfcfc !important;
}

.contactico{
    padding-top: 30px;
}
.contactico h3{
    font-family: 'Noto Emoji', sans-serif;
    text-align: center;

}
.contactico p {
    text-align: center;
    
}

.contactico a {
    color: gray!important;
    text-decoration: none;
    transition: 0.1s;

}
.contactico a:hover{
    color: #eca949!important;
    cursor: pointer;
}

.head h2{
    color: #2C2E3F;
}
.head h5{
    color:silver;
    padding-bottom: 20px;

}


.ha a{
    cursor: zoom-in;
 
}

.form-control:focus {
    border-color: #eca949!important;
    box-shadow: 0 0 0 0.01rem #eca949!important;
 
}

.form-control{
    border-radius: 0!important;
    padding: 0.7rem 0.95rem!important;
    border: 1px solid #ced4da!important;
}