/* global styling start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 300;

}
::selection {
  background: #FE7865;
  /* background: #ec4d37; */
  color: white;

}

/* global styling end */

h1 {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  height: 5000px;
}
.scrollTop {
  position: fixed;
  bottom: 20px;
  /* height: 20px; */
  z-index: 1000;
  cursor: pointer;
  /* animation: fadeIn 0.3s; */
  transition: 0.4s;
  opacity: 0.5;
  right: 4rem;
}

.scrollTop:hover {
  opacity: 1;
}
